/* style.css for "initio" */

/* Minimal Clearfix */
/* For modern browsers */
.cf:before,
.cf:after,
.clearfix:before,
.clearfix:after{content:""; display:block;}

.clearfix:after,
.cf:after {clear:both;}

/* For IE 6/7 (trigger hasLayout) */
.clearfix, 
.cf {zoom:1;}

/* Box sizing */
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*Basic stuff*/

body {
	color: #333;
	padding: 20px 30px;
}

a.active-menu {
	color: red;
}